<div class="course-edit">
    <div class="course-edit-title">
        <p>Edit Course</p>
    </div>
    <div class="course-edit-form">
        <%= render "form", url: course_path(@course), method: :put %>
    </div>
</div>