<div class="course-new">
    <div class="course-new-title">
        <p>New Course</p>
    </div>
    <div class="course-new-form">
        <%= render "form", url: courses_path, method: :post %>
    </div>
</div>