<div class="department-edit">
    <div class="department-edit-title">
        <p>Edit Department</p>
    </div>
    <div class="department-edit-form">
        <%= render "form",url: department_path(@department), method: :put %>
    </div>
</div>