<div class="student-edit">
    <div class="student-edit-title">
        <p>Edit Student</p>
    </div>
    <div class="student-edit-form">
        <%= render "form", url: student_path(@student), method: :put %>
    </div>
</div>