<div class="student-new">
    <div class="student-new-title">
        <p>New Student</p>
    </div>
    <div class="student-new-form">
        <%= render "form", url: students_path, method: :post %>
    </div>
</div>